In [1]:
from joblib import Parallel, delayed
import time
import numpy as np
import pandas as pd

In [7]:
# Create sample CSV files
for file_number in range(10):
    values = np.random.uniform(size=(20000,25))
    pd.DataFrame(values).to_csv(f"Dummy {file_number}.csv")

In [8]:
start = time.time()
df = pd.read_csv("Dummy 0.csv")

for file_number in range(1,10):
    df.append(pd.read_csv(f"Dummy {file_number}.csv"))
    
end = time.time()
print("CSV:", end - start)

CSV: 1.992445468902588

In [9]:
start = time.time()
df = []

for file_number in range(10):
    temp = pd.read_csv(f"Dummy {file_number}.csv")
    df.append(temp)
    
df = pd.concat(df, ignore_index=True)
end = time.time()
print("CSV2:", end - start)

CSV2: 1.7971904277801514

In [12]:
start = time.time()

def loop(file_number):
    return pd.read_csv(f"Dummy {file_number}.csv")

df = Parallel(n_jobs=-1, verbose=10)(delayed(loop)(file_number) for file_number in range(10))
df = pd.concat(df, ignore_index=True)

end = time.time()
print("CSV//:", end - start)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of  10 | elapsed:    2.1s remaining:    2.1s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    2.2s remaining:    0.9s

CSV//: 2.5630033016204834

[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    2.4s finished

In [10]:
df1 = pd.read_csv("D:\\Projects\\Python\\data\\donnn_20_09\\new.csv")
df1 = df1.drop(['msisdn'],1)
df1.head()

C:\Users\X1YOGA~1\AppData\Local\Temp/ipykernel_11656/3418876397.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df1 = df1.drop(['msisdn'],1)

,STAFF_CODE,MOBILE_DISP_NAME,ISSUE_DATE,VIETTEL_BANK_CODE,PSGD,PSGD_Chitieu,goi,PROVINCE,DISTRICT,SHOP_CODE,CUSTOMER_TYPE_DATE,chungdd_channel_type,approver_code,dev_staff_code,report_day,channel_type,s_channel_type_id,s_type,s_staff_code
0,NaN,QUANG THỊ HỒNG,29/08/21 9:27,VTT,Da PSGD,Da PSGD,goi1,B651,B651007,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
1,NaN,KC ĐUY S,22/02/20 8:43,VTT,Da PSGD,Da PSGD,goi1,P210,P210012,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
2,NaN,BÙI THỊ MAI,31/08/21 12:13,VTT,Chua PSGD,Chua PSGD,goi1,V064,V064001,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
3,NaN,LÊ THỊ HỒNG LOAN,31/08/21 17:00,VTT,Chua PSGD,Chua PSGD,goi1,D061,D061004,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
4,NaN,LÊ THỊ HOA,31/08/21 17:00,VTT,Da PSGD,Da PSGD,goi1,D061,D061001,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN

In [11]:
df2 = pd.read_csv("D:\\Projects\\Python\\data\\donnn_20_09\\old.csv")
df2 = df2.drop(['msisdn'],1)
df2.head()

C:\Users\X1YOGA~1\AppData\Local\Temp/ipykernel_11656/1701256483.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df2 = df2.drop(['msisdn'],1)

,STAFF_CODE,MOBILE_DISP_NAME,ISSUE_DATE,VIETTEL_BANK_CODE,PSGD,PSGD_Chitieu,goi,PROVINCE,DISTRICT,SHOP_CODE,CUSTOMER_TYPE_DATE,chungdd_channel_type,approver_code,dev_staff_code,report_day,channel_type,s_channel_type_id,s_type,s_staff_code
0,NaN,QUANG THỊ HỒNG,29/08/21 9:27,VTT,Da PSGD,Da PSGD,goi1,B651,B651007,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
1,NaN,KC ĐUY S,22/02/20 8:43,VTT,Da PSGD,Da PSGD,goi1,P210,P210012,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
2,NaN,BÙI THỊ MAI,31/08/21 12:13,VTT,Chua PSGD,Chua PSGD,goi1,V064,V064001,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
3,NaN,LÊ THỊ HỒNG LOAN,31/08/21 17:00,VTT,Chua PSGD,Chua PSGD,goi1,D061,D061004,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN
4,NaN,LÊ THỊ HOA,31/08/21 17:00,VTT,Da PSGD,Da PSGD,goi1,D061,D061001,KYC,31/08/21 17:00,NaN,NaN,KYC,19/09/21,NaN,NaN,NaN,NaN

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367754 entries, 0 to 367753
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   STAFF_CODE            144112 non-null  object
 1   MOBILE_DISP_NAME      367753 non-null  object
 2   ISSUE_DATE            367754 non-null  object
 3   VIETTEL_BANK_CODE     367754 non-null  object
 4   PSGD                  367754 non-null  object
 5   PSGD_Chitieu          367754 non-null  object
 6   goi                   367754 non-null  object
 7   PROVINCE              322255 non-null  object
 8   DISTRICT              322212 non-null  object
 9   SHOP_CODE             367720 non-null  object
 10  CUSTOMER_TYPE_DATE    367754 non-null  object
 11  chungdd_channel_type  144226 non-null  object
 12  approver_code         68693 non-null   float64
 13  dev_staff_code        367654 non-null  object
 14  report_day            367754 non-null  object
 15  channel_type          144226 non-null  object
 16  s_channel_type_id     144112 non-null  float64
 17  s_type                109674 non-null  float64
 18  s_staff_code          144112 non-null  object
dtypes: float64(3), object(16)
memory usage: 53.3+ MB

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367753 entries, 0 to 367752
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   STAFF_CODE            144112 non-null  object
 1   MOBILE_DISP_NAME      367752 non-null  object
 2   ISSUE_DATE            367753 non-null  object
 3   VIETTEL_BANK_CODE     367753 non-null  object
 4   PSGD                  367753 non-null  object
 5   PSGD_Chitieu          367753 non-null  object
 6   goi                   367753 non-null  object
 7   PROVINCE              322253 non-null  object
 8   DISTRICT              322210 non-null  object
 9   SHOP_CODE             367719 non-null  object
 10  CUSTOMER_TYPE_DATE    367753 non-null  object
 11  chungdd_channel_type  144226 non-null  object
 12  approver_code         68693 non-null   float64
 13  dev_staff_code        367653 non-null  object
 14  report_day            367753 non-null  object
 15  channel_type          144226 non-null  object
 16  s_channel_type_id     144112 non-null  float64
 17  s_type                109674 non-null  float64
 18  s_staff_code          144112 non-null  object
dtypes: float64(3), object(16)
memory usage: 53.3+ MB

In [14]:
df1.groupby("goi").size()

goi
goi 3    144278
goi1     223476
dtype: int64

In [15]:
df2.groupby("goi").size()

goi
goi 3    144278
goi1     223475
dtype: int64

In [24]:
li = [0] * 19
li

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
df3 = pd.concat([df1, df2])
len(df3)

735507

In [17]:
df3.to_csv("D:\\Projects\\Python\\data\\donnn_20_09\\file.csv", index=False,encoding="utf-8-sig")